<div class="index-top">
  <h1 class="col">Costumes</h1>
  <div class="index-top-filters">
    <div id="cat-filter">
      <%= link_to costumes_path(query: "cat"), class: "col" do%>
        <%= cl_image_tag("dog_j8xmmc") %>
        <p>Dogs Only</p>
        <%= cl_image_tag("cat_agtttv") %>
        <p>Cats Only</p>
      <% end %>
    </div>
  </div>
</div>
<div class="index-container">
  <%= render 'shared/map' %>
  <div class="costumes-card-container">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume), class: "card-link-no-deco" do %>
        <%= render 'shared/card', costume: costume %>
      <% end %>
    <% end %>
  </div>
</div>
