<div class="card-border">
  <%= cl_image_tag booking.costume.photo.key, width: 80, height: 80 %>

  <div class="product-name">
    <p>Number of days:<%= pluralize booking.number_of_days.to_i, "day" %></p>
    <p>Start: <%= booking.date_start.to_s %></p>
    <p>End: <%= booking.date_end.to_s %></p>

    <div class="product-name-and-avatar">
      <% if booking.costume.animal_type == "dog" %>
        <%= cl_image_tag("dog_j8xmmc") %>
      <% else %>
        <%= cl_image_tag("cat_agtttv") %>
      <% end %>
      <p>£<%= booking.costume.price %>/day</p>
    </div>
  </div>
</div>
