<div class="flex-container">
  <div class= "new-booking-page", style="padding-top: 100px">
      <%= simple_form_for [@costume, @booking] do |f| %>
        <div>
          <%= f.input :date_start %>
        </div>
        <div>
          <%= f.input :date_end %>
        </div>
        <div>
          <%= f.association :costume %>
        </div>
        <div>
          <%= f.association :user %>
        </div>
        <div class="submit-button">
          <%= f.submit 'book now', :onclick => "return confirm('booking confirmed')" %>
        </div>
      <% end %>
    </div>
</div>
