<div class="card-border">


<% if costume.photo.attached? %>
  <%= cl_image_tag(costume.photo.key, width: 300, height: 200) %>
  <% else %>
  <%= [image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/c_thumb,w_200,g_face/v1660254929/justin-jason-NZlbve4F1xk-unsplash_exnsiv.jpg"), image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/c_thumb,w_200,g_face/v1660254926/karsten-winegeart-ewfHXBcuFA0-unsplash_cffclz.jpg"), image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/c_thumb,w_200,g_face/v1660254926/kerwin-elias-7-ToFEHzMNw-unsplash_ffseqw.jpg"), image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/c_thumb,w_200,g_face/v1660254926/karsten-winegeart--_gMskl-uoc-unsplash_ldomqk.jpg"), width: 300, height: 200 ].sample %>
<% end %>

  <div class="product-name">
    <p><%= costume.name.capitalize %></p>

    <div class="product-name-and-avatar">
      <% if costume.animal_type == "dog" %>
        <%= cl_image_tag("dog_j8xmmc") %>
      <% else %>
        <%= cl_image_tag("cat_agtttv") %>
      <% end %>
      <p>£<%= costume.price %>/day</p>
    </div>
  </div>
</div>
