<div class="card-border">
  <%= cl_image_tag(costume.photo.key,
      width: 300, height: 200) %>

  <div class="product-name">
    <p><%= costume.name.capitalize %></p>

    <div class="product-name-and-avatar">
      <% if costume.animal_type == "dog" %>
        <%= cl_image_tag("dog_j8xmmc") %>
      <% else %>
        <%= cl_image_tag("cat_agtttv") %>
      <% end %>
      <p>£<%= costume.price %>/day</p>
    </div>
  </div>
</div>
