<div class="card-border">
  <%= cl_image_tag("l2xononnlbfimakzuo7i",
      width: 300, height: 200) %>

  <div class="product-name">
    <p><%= costume.name.capitalize %></p>

    <div class="product-name-and-avatar">
      <% if costume.animal_type == "dog" %>
        <%= image_tag("dog") %>
      <% else %>
        <%= image_tag("cat") %>
      <% end %>
      <p>£<%= costume.price %>/day</p>
    </div>
  </div>
</div>
