  <%= form_for(costume) do |f| %>
<div class="new-costume new-form-container">
  <div class="border-form">
    <div class="input-field-container">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field-container">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="input-field-container">
      <%= f.label :animal_type %>
      <%= f.text_field :animal_type %>
    </div>
    <div class="input-field-container">
      <%= f.label :longitude, label: false, class: "d-none" %>
      <%= f.number_field :longitude, class: "d-none", :number_field_html => { :value => 51 } %>
    </div>
    <div class="input-field-container">
      <%= f.label :latitude, class: "d-none" %>
      <%= f.number_field :latitude, class: "d-none", :number_field_html => { :value => 0 }  %>
    </div>
    <div class="input-field-container">
      <%= f.label :user_id %>
      <%= f.number_field :user_id, :number_field_html => { :value => '1' }  %>
    </div>
    <div class="input-field-container">
      <%= f.label :price %>
      <%= f.number_field :price %>
    </div>
    <div style='margin-top: 16px;'>
      <%= f.submit %>
    </div>
  </div>
</div>
  <% end %>
