<div class="new-costume" style="padding-top: 100px">
  <%= form_for(costume) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :animal_type %>
    <%= f.text_field :animal_type %>
    <%= f.label :longitude %>
    <%= f.number_field :longitude, input_html: {:value => 51.50} %>
    <%= f.label :latitude %>
    <%= f.number_field :latitude, input_html: {:value => 0} %>
      <%= f.label :user_id %>
    <%= f.number_field :user_id %>
    <%= f.submit %>
  <% end %>
</div>
